@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body {
    font-family: "Kablammo", Helvetica, sans-serif;
    margin: 0px;
}

h1 {
    border: 0px;
    margin: 0px;
}
header {
    background-color: yellow;
    padding: 50px;
    border: 0px;
}

section {
    display: inline-block;
    margin-top: 35px;
    margin-left: 60px;
    border: solid 1px;
}

section > p {
    padding-left: 15px;
}

main {
    background-color: lightgray;
}

section:hover {
    transform: rotate(5deg);
}